<div id="pf-load" class="plugin-frame-help">
    <h3>{{ __('Configuration Guide') }}</h3>
    
    <table class="help-table">
        <tr>
            <th>{{ __('Setting') }}</th>
            <th>{{ __('Recommended Value') }}</th>
        </tr>
        <tr>
            <td>{{ __('Cache Duration') }}</td>
            <td>24 {{ __('hours') }}</td>
        </tr>
        <tr>
            <td>{{ __('Log Level') }}</td>
            <td>Debug</td>
        </tr>
    </table>
</div>