<div id="pf-load" class="plugin-frame-help">
    <h3>{{ _x('Data Handling') }}</h3>
    
    <p>{{ _x('We respect your privacy:') }}</p>
    
    <ul>
        <li>{{ _x('No personal data collection') }}</li>
        <li>{{ _x('All analytics are anonymized') }}</li>
        <li>{{ _x('Regular security audits') }}</li>
    </ul>
    
    <p>{{ _x('Review our full') }} <a href="{{ privacy_policy_url }}">{{ _x('Privacy Policy') }}</a></p>
</div>