<div id="pf-load" class="plugin-frame-help">
    <h3>{{ 'Data Handling' }}</h3>
    
    <p>{{ 'We respect your privacy:' }}</p>
    
    <ul>
        <li>{{ 'No personal data collection' }}</li>
        <li>{{ 'All analytics are anonymized' }}</li>
        <li>{{ 'Regular security audits' }}</li>
    </ul>
    
    <p>{{ 'Review our full' }} <a href="{{ privacy_policy_url }}">{{ 'Privacy Policy' }}</a></p>
</div>