<div id="pf-load" class="plugin-frame-help">
    <h3>{{ __('Data Handling') }}</h3>
    
    <p>{{ __('We respect your privacy:') }}</p>
    
    <ul>
        <li>{{ __('No personal data collection') }}</li>
        <li>{{ __('All analytics are anonymized') }}</li>
        <li>{{ __('Regular security audits') }}</li>
    </ul>
    
    <p>{{ __('Review our full') }} <a href="{{ privacy_policy_url }}">{{ __('Privacy Policy') }}</a></p>
</div>