<nav class="pf-navbar {{ custom_classes|default('') }}">
  <div class="pf-container pf-flex pf-justify-between">
    <div class="pf-navbar-brand">
      <a href="{{ brand_link|default('#') }}">
        <img src="{{ brand_logo|default('assets/img/logo.svg') }}" alt="{{ brand_alt|default('Brand Logo') }}">
      </a>
    </div>
    <div class="pf-navbar-links">
      {% for link in links %}
        <a href="{{ link.url }}" class="pf-navbar-link">{{ link.label }}</a>
      {% endfor %}
    </div>
    <div class="pf-navbar-actions">
      {{ actions|default('') }}
    </div>
  </div>
</nav>
