{# 
 # If data pass without translaion text domain, then use below style
<h2>{{ __(title, plugin_domain) }}</h2>
<p>{{ __(content, plugin_domain) }}</p>
#}

<h2>{{ title }}</h2>
<p>{{ content }}</p>
<p>{{ __(description, plugin_domain) }}</p>