<div id="pf-load" class="plugin-frame-help">
    <h3>{{ 'Welcome to Plugin Frame!' }}</h3>
    <p>{{ 'Here\'s how to get started:' }}</p>
    
    <ol>
        <li>{{ 'Configure your basic settings' }}</li>
        <li>{{ 'Connect to your website' }}</li>
        <li>{{ 'Review the dashboard metrics' }}</li>
    </ol>
    
    <div class="help-notice">
        <p>{{ 'Need help? Contact us at' }} <a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
    </div>
</div>