<div id="pf-load" class="plugin-frame-help">
    <h3>{{ __('Welcome to Plugin Frame!') }}</h3>
    <h4>{{ __('Custom Shortcodes') }}</h4>
    <p>{{ __('Here\'s how to get started:') }}</p>
    
    <ol>
        <li>{{ __('Configure your basic settings') }}</li>
        <li>{{ __('Connect to your website') }}</li>
        <li>{{ __('Review the dashboard metrics') }}</li>
    </ol>
    
    <div class="help-notice">
        <p>{{ __('Need help? Contact us at') }} <a href="mailto:{{ support_email }}">{{ support_email }}</a></p>
    </div>
</div>